header, footer {
    background-color: #1F2937;
   
}
.global {
    
   padding: 5px;
   margin: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20;

}
.about{
    align-content: space-between;

}
.callToAction1{
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 10px;
}
h1 {
    font-size: 48px;
    font-weight: bolder;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 5%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
#dButton {
    border: 3px solid white ;
    background-color: #3882F6;
    border: none;
    border-radius: 5%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
header {
    font:36px bolder #1F2037 ;
    display: flex;
    align-items: right;
    gap: 20x;
}
.parMiddle {
    display: inline;
}
table {
    
   
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
   align-items: center
   ;
  
}

td {
    flex: 1 1 auto;
    align-items: center;
    text-align: center;
    width: 150px;
}

.quote {
    background-color: #E5E7EB;
    height: 200px;
    font: 36px lighter italic #1F2037;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle {
    display: flex;
    justify-content: center;
    
}
.middle1{
    
    border: 5px solid #3882F6;
    border-radius: 15%;
    flex: 1 1 auto;
}
.middle2 {
    
    border: 5px solid #3882F6;
    border-radius: 15%;
    flex: 1 1 auto;
}
.middle3 {
    
    border: 5px solid #3882F6;
    border-radius: 15%;
    flex: 1 1 auto;
}
.middel4 {
    border: 5px solid #3882F6;
    border-radius: 15%;
    flex: 1 1 auto;
}

.heroImg {
    padding: 30px;
    margin-left: 50px;

    flex: 2 1 auto;
}
.callToAction {
    color: #F9FAF8;
    background-color: #3882F6;
    margin: 5% 20% 5% 20%;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;  
}

.header {
    font: 18px bolder #E5E7EB;
    display: flex;
}
nav>ul {
    list-style-type: none;
    display: flex;
    gap:4;
}